## .NET
bin/
obj/
*.user
*.suo

## Visual Studio
.vs/
*.userprefs

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/*
!.vscode/extensions.json

## macOS
.DS_Store

## Test results
[Tt]est[Rr]esult*/
*.trx
coverage*/
*.coverage
*.coveragexml

## Build output
[Bb]uild/
[Dd]ist/
publish/
